/* BUTTON STYLING */

.Button {
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    border-radius: 100px;
    border: 3px solid #0d546f;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    color: #f1f1f2;
    background-color: #0d546f;
    text-decoration: none;
    display: inline-block;
}

.ReverseButton {
    background-color: #eee6d9 !important;
    color: #0d546f !important;
    border-color: #0d546f !important;
}

.DeleteButton {
    background-color: red;
    border-color: red;
}

.LinkButton {
    background: none;
    border: none;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover {
    background-color: #eee6d9 !important;
    color: #0d546f !important;
    border-color: #0d546f !important;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}