.NavBar {
    background-color: #ffffff;
    border: 1px solid #eee6d9;
}

.NavLink, .Active {
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.NavLink:hover, .Active {
    color: #ff6431;
}

.Logo {
    max-width: 70vw;
    object-fit: scale-down;
}

/* mobile navbar */

.BottomNavBar {
    background-color: #ffffff;
    padding: 0;
}

.BottomNavLink, .BottomActive {
    padding: 1.5rem 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    width: inherit;
    box-shadow: 3px -1px 10px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 3px -1px 10px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px -1px 10px 2px rgba(0, 0, 0, 0.4);
}

.BottomActive {
    box-shadow: 0 0 0 3px rgb(84 68 85 / 75%) inset;
    -webkit-box-shadow: 0 0 0 3px rgb(84 68 85 / 75%) inset;
    -moz-box-shadow: 0 0 0 3px rgb(84 68 85 / 75%) inset;
}

.BottomNavLink {
    background-color: #f1f1f2;
}

.BottomGrid {
    gap: 5px;
    box-shadow: 1px 0 20px 5px rgba(0, 0, 0, 0.2);
}

#feed {
    background-color: #9cc63b;
}

#following {
    background-color: #f7bf3d;
}

#matches {
    background-color: #ffa06e;
}

#profile {
    background-color: #6dcbec;
}

#signin, #signup {
    background-color: #eee6d9;
}