/* POST AND DOG STYLING */

.Post {
    background-color: #ffffff;
    border: 1px solid #eee6d9;
    margin-bottom: 16px;
}

.Heart {
    color: #8d331a;
}

.Heart:hover {
    color: #0d546f;
}

.HeartOutline:hover {
    color: #8d331a;
}

.PostBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8rem;
}

.Truncate {
    /*https://blog.logrocket.com/ways-truncate-text-css/*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    max-height: calc(4 * 1.2 * 1em);
    line-height: 1.2;
}

.ProfileImage {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.SquareContainer {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}

.SquareImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.DogDetails {
    text-align: left;
}

.LinkHeading {
    text-align: center;
    font-size: 1.3rem;
}

.CarouselCaption {
    background: rgba(0, 0, 0, 0.8);
    padding-top: .5rem;
}

.CarouselHeading {
    color: #ffa06e;
}

.CarouselParagraph {
    color: #eee6d9;
    margin-bottom: 0;
}