.Post {
    background-color: #ffffff;
    border: 1px solid #eee6d9;
    margin-bottom: 16px;
    text-align: center;
}

.Heart {
    color: #ff6431;
}

.Heart:hover {
    color: #0d546f;
}

.HeartOutline:hover {
    color: #ff6431;
}

.PostBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8rem;
}

.Truncate {
    /*https://blog.logrocket.com/ways-truncate-text-css/*/
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
}